:root {
    --bloc-initial: rgb(36, 53, 153);
    --bloc-hover-initial: rgb(67, 64, 236);
    --bloc-active-initial: rgb(26, 25, 102);

    --bloc-neutral: rgb(31, 31, 31);
    --bloc-right: rgb(28, 80, 26);
    --bloc-wrong: rgb(82, 8, 8);

    --width-themeChoice:1250px;
    --position-left-themeChoice: calc(50% - (var(--width-themeChoice) / 2)) ;
}

/****************************** general ******************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    background-color: antiquewhite;
}

#penduBoard {
    width: 100%;
    height: 95vh;
    position: relative;
}

/****************************** penduPart ******************************/
#penduPart {
    height: 45vh;
}

.blocWord { /*div*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordPendu { /*p*/
    font-size: 5em;
    letter-spacing: 8px;
}

/********** penduVisuals **********/
#penduVisuals{
    position: relative;
}

#potence {
    position: relative;
}

#hPart { /*potence : parti horizontal*/
    position: absolute;
    top: 30px;
    right: 155px;
    width: 271px;
    border: 5px solid black;
}

#vPart { /*potence : parti vertical*/
    position: absolute;
    top: 157px;
    right: 242px;
    width: 300px;
    transform: rotate(90deg);
    border: 5px solid black;
}

#finalPart { /*potence: corde*/
    position: absolute;
    top: 67px;
    right: 243px;
    width: 67px;
    transform: rotate(90deg);
    border: 1px solid black;
}

#penduTete{
    position: absolute;
    top: 100px;
    right: 252px;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius:50%;
}

#penduCorps{
    position: absolute;
    height: 5px;
    width: 70px;
    border-bottom:5px solid black ;
    top: 182px;
    right: 242px;
    transform: rotate(90deg);
}

#penduBrasD{
    position: absolute;
    height: 5px;
    width: 50px;
    border-bottom:5px solid black ;
    top: 179px;
    right: 236px;
    transform: rotate(52deg);
}

#penduBrasG{
    position: absolute;
    height: 5px;
    width: 50px;
    border-bottom:5px solid black ;
    top: 179px;
    right: 268px;
    transform: rotate(308deg);
}

#penduJambeD{
    position: absolute;
    height: 5px;
    width: 50px;
    border-bottom:5px solid black ;
    top: 234px;
    right: 236px;
    transform: rotate(52deg);
}

#penduJambeG{
    position: absolute;
    height: 5px;
    width: 50px;
    border-bottom:5px solid black ;
    top: 234px;
    right: 268px;
    transform: rotate(308deg);
}

.penduMort{
    background-color: rgb(0, 0, 0);   
}

.penduOff{
    display: none;
}

/****************************** lettersPart ******************************/
#lettersPart {
    height: 45vh;
    padding: 0 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.blocLettre {
    width: 90px;
    height: 90px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: var(--bloc-initial);
    border-radius: 28%;

    cursor: pointer;
    transition: 0.3s;
}

.blocLettre:hover {
    background-color:var(--bloc-hover-initial);
    transition: 0.3s;
}

.blocLettre:active {
    background-color: var(--bloc-active-initial);
    transition: 0.3s;
}

.lettreText{
    font-size:2.5em;
    color: white;
    transition: 0.3s;
}

.unclickable {
    background-color: var(--bloc-neutral);
    cursor: not-allowed;
    transition: 0.3s;
}

.unclickable:hover {
    background-color: var(--bloc-neutral);
}

.unclickable:active {
    background-color: var(--bloc-neutral);
}

.unclickableRight {
    background-color: var(--bloc-right);
    cursor: not-allowed;
    transition: 0.3s;
}

.unclickableRight:hover {
    background-color: var(--bloc-right);
}

.unclickableRight:active {
    background-color: var(--bloc-right);
}

.unclickableWrong {
    background-color: var(--bloc-wrong);
    cursor: not-allowed;
    transition: 0.3s;
}

.unclickableWrong:hover {
    background-color: var(--bloc-wrong);
}

.unclickableWrong:active {
    background-color: var(--bloc-wrong);
}

.unclickable p {
    color: rgb(141, 141, 141);
}

/****btn****/
#btnRestart {
    width: 230px;
    height: 80px;
    font-size: 1.5em;
    border-radius: 10px;
    border: 5px solid gray;

    position: absolute;
    bottom: 15px;
    left: 30px;
}

#btnIndice {
    width: 230px;
    height: 80px;
    font-size: 1.5em;
    border-radius: 10px;
    border: 5px solid gray;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.btnTurnOff { 
    display: none;
}

/***** themeChoice *****/
#themeChoice {
    position: absolute;
    top: 15px;
    left: calc(50% - (var(--width-themeChoice) / 2));
}

[class*="btnTheme"] {
    width: 230px;
    height: 80px;
    margin: 0 10px;
    font-size: 1.5em;
    border-radius: 10px;
    border: 5px solid gray;
}

.btnThemePays {

}

.btnThemeArbre {

}

.btnThemePrenom {

}
